
<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">



        <a href="/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white <%= path === '/' ? 'w3-theme-d5' : ''  %>" ><i class="fa fa-book"></i>  Blogs</a>

        <!-- <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a> -->
        <!-- <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News"><i class="fa fa-globe"></i></a> -->

        <!-- <a href="events.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Events"><i class="fa fa-calendar "></i></a> -->

        <a href="" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white  " title="Groups"><i class="fa fa-group "></i>  Authors</a>
        <a href="" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white  " title="Messages"><i class="fa fa-envelope"></i>  Messages</a>
        <a href="/users/my-account" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white <%= path === '/my-account' ? 'w3-theme-d5' : ''  %>  "><i class="fa fa-home "></i> MyBlog</a>

        <a href="/add-blog" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white <%= path === '/add-blog' ? 'w3-theme-d5' : ''  %>  "><i class="fa fa-plus "></i> Add Blog</a>

        <!-- <a href="{% url 'create-blog' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="My Profile"><i class="fa fa-pencil-square"></i>  Create Blog</a> -->


        <a href="" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
            <img src="" class="w3-circle" style="height:27px;width:27px" alt="Avatar">
        </a>

        <a href="" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white  w3-right" title="My Profile"> Log Out</a>



        <a href="" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white  w3-right " title="My Profile"> Log In/Sign Up</a>





    </div>
</div>